<!--<h3>Questions</h3>

<div style="width:50%; margin-top:25px; margin-left:25px" class="assessment-area" ng-show="inProgress">
  <p>I am interested in Angular.</p>
    <md-slider class="md-primary" id="blue-slider" flex md-discrete ng-model="likertSlider" step="1" min="1" max="5" aria-label="blue">

  </md-slider>
  
<p>You have selected: {{getLikertValue()}}
</p>
</div>

<div class="intro" ng-show="!inProgress">
    <p>Welcome to the Assessment</p>
    <button id="startAssessment" ng-click="start()">Begin the Assessment</button>
</div>-->

<assessment/>


